FORMAT: 1A9
HOST: https://api.mergado.com/

# Mergado
The Mergado API is based on REST principles. The request/response format is JSON.

## Requests

The recommended encoding of all requests is UTF-8. Requests must be made over **HTTPS** and
all endpoints start with `https://api.mergado.com/`. Note that almost all API endpoints
require [OAuth 2.0 authentication](https://tools.ietf.org/html/rfc6749).

### Allowed HTTPs requests

| Method | Description                                  |
|--------|----------------------------------------------|
| GET    | Retrieves a resource or a list of resources. |
| POST   | Creates or updates a resource.               |
| PATCH  | Updates a resource.                          |
| DELETE | Deletes a resource.                          |

### Additional GET parameters

| Parameter                    | Example                                   | Description |
|------------------------------|------------------------------------------ |-------------|
| **fields**                   | `?fields=uri,shop.id`                     | Only fields `uri` and `id` nested in `shop` will be returned in the given example. It works also for arrays of results - filter is applied to all their items, one by one. |
| **limit**, **offset**        | `?limit=5&offset=2`                       | Works for arrays only. It is for paging the results. In the example, 2 results from the beginning are skipped and only 5 following items are returned. The default limit for every array result is 10 items. |
| **date**                     | `?date=2015-12-24`                        | Works only for some special endpoints. In the example, it will return results corresponding only to Christmas Eve in 2015.
| **filter_by**                | `?filter_by={"item_id__in": "123456789"}` | Filters the result. You can also append field name with `__in`, i.e. filter results by enumerating all values of a field, for example `item_id__in` expects list of possible ITEM_IDs. |
| **order_by**                 | `?order_by=validator,-verdict`            | Orders the result in ascending or descending order. |

### Typical Server Responses

| Code | Status             | Description |
|------|--------------------|-------------|
| 200  | OK                 | The request was successful (some API calls may return 201 instead). |
| 201  | Created            | The request was successful and a resource was created. |
| 204  | No Content         | The request was successful but there is no representation to return (that is, the response is empty). |
| 400  | Bad Request        | The request could not be understood or was missing required parameters. |
| 401  | Unauthorized       | Authentication failed or user does not have permissions for the requested operation. |
| 403  | Forbidden          | Access denied. |
| 404  | Not Found          | Resource was not found. |
| 405  | Method Not Allowed | Requested method is not supported for the specified resource. |
| 409  | Conflict           | Resource already exists and could not be created. |

## OAuth 2.0

To access Mergado API, clients (e.g. an application) are required to authenticate with
[OAuth 2.0](https://tools.ietf.org/html/rfc6749). Each application is required to have
its OAuth credentials which can be obtained from the Mergado
[developers center](https://developers.mergado.com) (during registeration of your application,
a client ID and a secret key is assigned to your application).

* [Basics of OAuth 2.0 in Mergado Apps](http://mergado.github.io/docs/api/authorization.html)
* [List of all OAuth scopes](http://mergado.github.io/docs/api/oauth-scopes.html)

# Group Base
Various API resources that don't require any authentication.

## Info [/]
### Show API Version [GET]

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            {
                "version": "0.2"
            }

## XML Formats [/formats/]
Formats represent XML feeds and their specification supported by Mergado.

### List Supported Formats [GET]
Returns a list of IDs of all supported XML feed's formats.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            [
                "heureka.cz",
                "hledejceny.cz",
                "hyperzbozi.cz",
                "srovname.cz",
                "zbozi.cz",
                "heureka.cz-kosik",
                "heureka.sk",
                "najnakup.sk",
                "pricemania.sk"
            ]

## Tariffs [/tariffs/]
Lists tariffs available for users.

### List Available Tariffs [GET]
Returns available tariffs which are automatically chosen for each eshop.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "limit": 10,
                "data": [
                    {
                        "id": "2",
                        "name": "Basic",
                        "price_czk": 286,
                        "price_eur": 11,
                        "price_pln": 49,
                        "price_usd": 12,
                        "price_gbp": 9
                    },
                    {
                        "id": "3",
                        "name": "Standard",
                        "price_czk": 586,
                        "price_eur": 22,
                        "price_pln": 99,
                        "price_usd": 22,
                        "price_gbp": 19
                    },
                    {
                        "id": "4",
                        "name": "Advanced",
                        "price_czk": 1286,
                        "price_eur": 49,
                        "price_pln": 219,
                        "price_usd": 52,
                        "price_gbp": 49
                    },
                    {
                        "id": "6",
                        "name": "Special 300",
                        "price_czk": 1786,
                        "price_eur": 70,
                        "price_pln": 299,
                        "price_usd": 72,
                        "price_gbp": 59
                    },
                    {
                        "id": "7",
                        "name": "Special 400",
                        "price_czk": 2286,
                        "price_eur": 89,
                        "price_pln": 379,
                        "price_usd": 92,
                        "price_gbp": 75
                    },
                    {
                        "id": "8",
                        "name": "Special 500",
                        "price_czk": 2768,
                        "price_pln": 459,
                        "price_eur": 108,
                        "price_usd": 112,
                        "price_gbp": 89
                    },
                    {
                        "id": "9",
                        "name": "Special 600",
                        "price_czk": 3286,
                        "price_eur": 129,
                        "price_pln": 549,
                        "price_usd": 132,
                        "price_gbp": 105
                    }
                ],
                "offset": 0
            }

### Get Tariff [GET /tariffs/{id}/{?fields}]
Returns requested tariff by its ID.

+ Parameters

    + id (string) - Tariff ID.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "3",
                "name": "Standard",
                "price_czk": 586,
                "price_eur": 22,
                "price_pln": 99,
                "price_usd": 22,
                "price_gbp": 19
            }

## Rule Definitions [/rules/definitions/{?limit,offset,fields}]
Definition of rules so that developers can see which rules expect what data.

+ Attributes

    + type (string) - Unique name of the rule.
    + relationship (enum[string]) - Whether the rule accepts an object
      (dictionary) as an argument or a list of objects.
        + members
            + 1:1
            + 1:N
    + fields - List of fields the rule accepts during instantiation.

### List Defined Rules [GET]
Returns definitions of all rules and required data for their instantiation.

+ Response 200

    + Headers
    
            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "type": "format_converter",
                        "relationship": "1:1",
                        "fields": []
                    },
                    {
                        "type": "rewriting",
                        "relationship": "1:1",
                        "fields": [
                            {
                                "name": "new_content",
                                "required": true,
                                "type": "STRING"
                            }
                        ]
                    },
                    {
                        "type": "replacing",
                        "relationship": "1:1",
                        "fields": [
                            {
                                "name": "search",
                                "required": true,
                                "type": "STRING"
                            },
                            {
                                "name": "replacement",
                                "required": true,
                                "type": "STRING"
                            },
                            {
                                "name": "regex",
                                "required": true,
                                "type": "BOOLEAN"
                            },
                            {
                                "name": "case_sensitive",
                                "required": true,
                                "type": "BOOLEAN"
                            }
                        ]
                    }
                ],
                "limit": 10,
                "offset": 0
            }

# Group Core
Management of users, eshops, projects and other core resources.

## Apps [/apps/{?limit,offset,fields}]
Applications in Mergado.

+ Attributes

    + title (string) - Application's title.
    + type (enum[string]) - Scope of application. Application type can be user, eshop or project.
        + Members
            + user
            + eshop
            + project
    + creation_date (string) - Datetime when application was created.
    + trial_period (number) - How many days is application for free.
    + forum_url (string) - Application has it's own forum page.
    + latest_release_date (string) - Datetime of application latest release.

### Get App by Name [GET /apps/{id}/{?fields}]
Returns application for given application name.

+ Parameters

    + id (string) - Application name.

+ Request

    + Headers

            Content-Type: application/json

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            {
                "creation_date": "2016-11-02T09:12:09+00:00",
                "forum_url": "logbook",
                "latest_release_date": "2016-11-02T09:12:10+00:00",
                "title": "Log Book Application",
                "trial_period": 10,
                "type": "project"
            }

### List Apps [GET]
Lists all applications in Mergado.

+ Request

    + Headers

            Content-Type: application/json

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            {
                "data": [
                    {
                        "creation_date": "2016-11-02T09:12:09+00:00",
                        "forum_url": "bidding-fox",
                        "latest_release_date": "2016-11-02T09:12:10+00:00",
                        "title": "Bidding Fox",
                        "trial_period": 10,
                        "type": "project"
                    }
                ],
                "limit": 10,
                "offset": 0
            }

## Billing [/users/{id}/billing/]
Billing is need for automatically billing via Fakturoid.

+ Attributes

    + user_id (string) - User identification number.
    + currency (string) - Currency of all services and applications.
    + total_current_price (number) - Price which will appear in invoice.
    + total_retail_price (number) - Standart price of services or applications.
    + services (object) - Informations about paymants of shops.
        + currency (string) - Currency of all services.
        + total_current_price (number) - Price which will appear in invoice of all shops.
        + total_retail_price (number) - Standart price of all services.
        + shops (array) - All shops for billing.
            + (object)
                + shop_id (string) - Shop identification number.
                + current_price (number) - Price of shop on invoice.
                + retail_price (number) - Standard price of shop.
                + in_trial_until (number) - Until how long is eshop in trial.
                + is_prepaid_until (number) - Until how long is eshop prepaid.
    + apps (object) - Informations about payments of applications.
        + currency (string) - Currency of all applications.
        + total_current_price (number) - Price will appear in invoice of all applications.
        + total_retail_price (number) - Standard price of all applications.
        + apps (array) - All applications for billing.
            + (object)
                + app_name (string) - Application name.
                + instance_id (number) - Instance of application.
                + current_price (number) - Price of application on invoice.
                + retail_price (number) - Standard price of application.
                + in_trial_until (string) - Until how long is application in trial.
                + is_prepaid_until (string) - Until how long is application prepaid.
                + entity_type (enum[string]) - What is type of application.
                    + Members
                        + user
                        + shop
                        + project
                + entity_id (number) - ID of the entity which application is bound to. Entity can be user or eshop or project.
                + is_old (boolean) - If application is new od old.


### Get User Billing [GET /users/{id}/billing/]
Returns whole billing details for given user.

**OAuth2 Scope:** user.billing.read

+ Parameters

    + id (string) - User ID.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            {
                "user_id": "1",
                "apps": {
                    "currency": "CZK",
                    "total_current_price": 999.4,
                    "total_retail_price": 888.5,
                    "apps": [
                        {
                            "app_name": "application_name",
                            "instance_id": 1,
                            "current_price": 777.1,
                            "retail_price": 666.2,
                            "in_trial_until": "2017-00-15",
                            "is_prepaid_until": "2017-04-20",
                            "app_type": "user",
                            "subject_id": 1,
                            "is_old": true
                        }
                    ]
                },
                "services": {
                    "currency": "CZK",
                    "total_current_price": 999.4,
                    "total_retail_price": 888.5,
                    "shops": [
                        {
                            "current_price": 678.9,
                            "in_trial_until": "1970-01-01",
                            "is_prepaid_until": "2017-04-20",
                            "retail_price": 56.7,
                            "shop_id": "3"
                        }
                    ]
                },
                "currency": "CZK",
                "total_current_price": 1234.5,
                "total_retail_price": 1234.5
            }

## Users [/users/{?limit,offset,fields}]
Users with an account in Mergado.

+ Attributes

    + id (string) - User's ID.
    + first_name (string) - User's first name.
    + last_name (string) - User's last name.
    + name (string) - User's full name.
    + username (string) - User's login.
    + email (string) - User's email address.
    + city (string, optional) - User's city.
    + company (string, optional) - User's company.
    + country (string, optional) - Country code in ISO 3166-1.
    + postcode (string, optional) - User's postal code.
    + street (string, optional) - User's street.
    + timezone (string, optional) - User's timezone.
    + timezone_offset (string, optional) - Timezone offset.
    + dic (string, optional) - VAT identification number.
    + ico (string, optional) - Taxpayer identification number.
    + fakturoid_id (string, optional) - ID for connection with [fakturoid.cz](https://fakturoid.cz).
    + invoice_months (number, optional) - Number of months to be invoiced for Mergado.
    + last_access (string) - Datetime of user's last access to Mergado.
    + locale (string) - User's locale in ISO 15897.
    + registered_at (string) - Datetime of registration.
    + send_summary (boolean) - Whether the user wants to receive a summary about their eshops/exports.

### List Users [GET]
Lists all users the authenticated client has access to.

**OAuth2 Scope:** user.read

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "limit": 10,
                "offset": 0,
                "data": [
                    {
                        "id": "6",
                        "first_name": "Lorem",
                        "last_name": "Ipsum",
                        "name": "Lorem Ipsum",
                        "username": "loremipsum",
                        "email": "lorem.ipsum@example.com",
                        "city": "Brno",
                        "company": "Mergado",
                        "country": "cz",
                        "dic": "00000000",
                        "ico": "00000000",
                        "fakturoid_id": null,
                        "invoice_months": 1,
                        "last_access": "2016-03-21T16:32:32+00:00",
                        "locale": "cs_CZ",
                        "postcode": "61200",
                        "registered_at": "2015-11-03T16:08:17+00:00",
                        "street": "Palackého 123/456",
                        "timezone": "Europe/Prague",
                        "timezone_offset": null,
                        "send_summary": false
                    }
                ]
            }

### Authenticated User [GET /me/{?fields}]
Returns currently authenticated user.

**OAuth2 Scope:** user.read

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "6",
                "first_name": "Lorem",
                "last_name": "Ipsum",
                "name": "Lorem Ipsum",
                "username": "loremipsum",
                "email": "lorem.ipsum@example.com",
                "city": "Brno",
                "company": "Mergado",
                "country": "cz",
                "dic": "00000000",
                "ico": "00000000",
                "fakturoid_id": null,
                "invoice_months": 1,
                "last_access": "2016-03-21T16:32:32+00:00",
                "locale": "cs_CZ",
                "postcode": "61200",
                "registered_at": "2015-11-03T16:08:17+00:00",
                "street": "Palackého 123/456",
                "timezone": "Europe/Prague",
                "timezone_offset": null,
                "send_summary": false
            }

### Get User [GET /users/{id}/{?fields}]
Returns a user.

**OAuth2 Scope:** user.read

+ Parameters

    + id (string) - ID of a user.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "6",
                "first_name": "Lorem",
                "last_name": "Ipsum",
                "name": "Lorem Ipsum",
                "username": "loremipsum",
                "email": "lorem.ipsum@example.com",
                "city": "Brno",
                "company": "Mergado",
                "country": "cz",
                "dic": "00000000",
                "ico": "00000000",
                "fakturoid_id": null,
                "invoice_months": 1,
                "last_access": "2016-03-21T16:32:32+00:00",
                "locale": "cs_CZ",
                "postcode": "61200",
                "registered_at": "2015-11-03T16:08:17+00:00",
                "street": "Palackého 123/456",
                "timezone": "Europe/Prague",
                "timezone_offset": null,
                "send_summary": false
            }

### Get User Permissions [GET /users/{id}/permissions/{?limit,offset,fields}]
Lists all permissions (accesses to eshops) of a specific user.

**OAuth2 Scope:** user.shops.read

+ Parameters

    + id (string) - ID of a user.

+ Response 200

    + Attributes
        + shop_id (string) - ID of the shop the role relates to.
        + role (enum[string]) - User's role.
            + members
                + `writer`
                + `reader`

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "role": "writer",
                        "shop_id": "1"
                    },
                    {
                        "role": "writer",
                        "shop_id": "10"
                    }
                ],
                "limit": 10,
                "offset": 0
            }

## Eshops [/users/{id}/shops/{?limit,offset,fields}]
Eshops in Mergado.

+ Attributes

    + id (string) - ID of the shop.
    + owner_id (string) - ID of the user who is the owner of the shop in Mergado
      (that is usualy the user who created the eshop).
    + tariff_id (string) - ID of the tariff the eshop has ordered.
    + tariff_validity (string) - Datetime when the tariff expires.
    + web (string) - Web sites of the eshop.
    + name (string) - Unique name of the eshop.
    + xml_domain (string) - XML domain of the eshop as detected from an XML feed.
    + exported_items (number) - Sum of exported items in all exports.
    + created_at (string) - Datetime when the export was created.
    + permissions - List of users and roles with access to the eshop.

### List User Eshops [GET]
Returns eshops the user can access.

**OAuth2 Scope:** user.shops.read

+ Parameters

    + id (string) - ID of a user.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "limit": 10,
                "offset": 0,
                "data": [
                    {
                        "id": "1",
                        "owner_id": "1",
                        "tariff_id": "7",
                        "tariff_validity": "2015-12-01T10:02:51+00:00",
                        "name": "Example.com",
                        "web": "http://example.com/",
                        "xml_domain": "example.com",
                        "exported_items": 256,
                        "created_at": "2015-11-04T12:31:18+00:00",
                        "permissions": [
                            {
                                "role": "reader",
                                "user_id": "2"
                            }
                        ]
                    }
                ]
            }

### Get an Eshop [GET /shops/{id}/{?fields}]
Returns an eshop with the given ID.

**OAuth2 Scope:** shop.read

+ Parameters

    + id (string) - ID of a shop.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "1",
                "owner_id": "1",
                "tariff_id": "7",
                "tariff_validity": "2015-12-01T10:02:51+00:00",
                "name": "Example.com",
                "web": "http://example.com/",
                "xml_domain": "example.com",
                "exported_items": 256,
                "created_at": "2015-11-04T12:31:18+00:00",
                "permissions": [
                    {
                        "role": "reader",
                        "user_id": "2"
                    }
                ]
            }

### Update an Eshop [PATCH /shops/{id}/{?fields}]
Updates an eshop with the given ID.

**OAuth2 Scope:** shop.write

+ Parameters

    + id (string) - ID of a shop.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "name": "Mergado.cz",
                "web": "http://mergado.cz/",
                "xml_domain": "mergado.cz"
            }

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "1",
                "owner_id": "1",
                "tariff_id": "7",
                "tariff_validity": "2015-12-01T10:02:51+00:00",
                "name": "Mergado.cz",
                "web": "http://mergado.cz/",
                "xml_domain": "mergado.cz",
                "exported_items": 256,
                "created_at": "2015-11-04T12:31:18+00:00",
                "permissions": [
                    {
                        "role": "reader",
                        "user_id": "2"
                    }
                ]
            }

### Show Eshop Info [GET /shops/{id}/info/{?fields}]
Show additional eshop information and statistics.

**Oauth2 Scope:** shop.read

+ Parameters

    + id (string) - ID of an eshop.

+ Response 200

    + Attributes
        + number_of_projects (number) - Number of exports (projects) created in this eshop.
        + stats_collection (object) - Information about last collection of statistics.
            + status (enum[string])
                + members
                    + done
                    + in_progress
                    + error
            + error (string)
            + started_at (string)
            + finished_at (string)
            + info (array)
                + (object)
                    + type (enum[string])
                        + members
                            + mergado.output_feed
                            + mergado.costs_feed
                            + heureka.conversions_feed
                            + heureka.sortiment_feed
                            + mergado.report
                    + status (enum[string])
                        + members
                            + done
                            + in_progress
                            + error
                    + error (string)
                    + started_at (string)
                    + finished_at (string)
        + connections (array) - List of objects representing connections to third-party services.
            + (object)
                + name (enum[string]) - Name of the service.
                    + members
                        + heureka.cz
                        + heureka.sk
                        + zbozi.cz
                        + srovname.cz
                        + hledejceny.cz
                        + google_analytics
                + currency (string) - Currency in ISO 4217 or a `null` if the currency is not known.
                + status (enum[string]) - Status of the connection.
                    + members
                        + ok
                        + error
                + error (string) - Short description of the error (if status is not `ok`).
                + info (object) - Additional info about the connection.
                    + name (string) - Name of the connection (account's name, eshop's name and so on).
                    + valid_credentials (boolean) - Whether the credentials the user supplied are valid.
                    + ... - Other fields specific for each connection.

    + Headers

            Content-Type: application/json
    
    + Body
    
            {
                "number_of_projects": 3,
                "stats_collection": {
                    "status": "done",
                    "error": null,
                    "started_at": "2015-11-04T12:31:18+00:00",
                    "finished_at": "2015-11-04T14:31:18+00:00",
                    "info": [
                        {
                            "status": "done",
                            "finished_at": "2017-10-20T04:53:11+00:00",
                            "started_at": "2017-10-20T04:50:03+00:00",
                            "type": "heureka.conversions_feed",
                            "error": null
                        },
                        {
                            "status": "done",
                            "finished_at": "2017-10-20T04:51:53+00:00",
                            "started_at": "2017-10-20T04:50:03+00:00",
                            "type": "mergado.output_feed",
                            "error": null
                        },
                        {
                            "status": "done",
                            "finished_at": "2017-10-20T05:33:57+00:00",
                            "started_at": "2017-10-20T04:50:03+00:00",
                            "type": "mergado.report",
                            "error": null
                        },
                        {
                            "status": "done",
                            "finished_at": "2017-10-20T05:33:45+00:00",
                            "started_at": "2017-10-20T04:50:03+00:00",
                            "type": "heureka.sortiment_feed",
                            "error": null
                        }
                    ]
                },
                "connections": [
                    {
                        "currency": "EUR",
                        "name": "heureka.sk",
                        "status": "ok",
                        "error": null,
                        "info": {
                            "name": "Example.com",
                            "valid_credentials": true,
                            "heureka_id": "321",
                            "username": "test@example.com",
                            "url_slug": "example-com"
                        }
                    },
                    {
                        "currency": "CZK",
                        "name": "zbozi.cz",
                        "status": "error",
                        "error": "zbozi_auth_error",
                        "info": {
                            "name": "Example.com",
                            "valid_credentials": false,
                            "zbozi_id": "123",
                            "username": "test@example.com"
                        }
                    },
                    {
                        "currency": null,
                        "name": "google_analytics",
                        "status": "ok",
                        "error": null,
                        "info": {
                            "name": "Example.com",
                            "valid_credentials": true,
                            "credentials_id": "325",
                            "account_id": "193",
                            "profile_id": "796"
                        }
                    }
                ]
            }


## Projects [/shops/{id}/projects/{?limit,offset,fields}]
Project is created when a user imports an XML feed in Mergado. This feed may come in different formats
and it is very common that one eshop has several projects each maaged for a different shopping service.

+ Attributes

    + id (string) - ID of the project (or sometimes called export).
    + shop_id (string) - Eshop ID.
    + creator_id (string) - ID of the user who created this project.
    + name (string) - Name of the project.
    + url (string) - URL of the XML feed with products.
    + activated (boolean) - Whether the project is active or not.
    + created (string) - When the project was created.
    + exported_items (number) - Number of exported items in the last export of the project.
    + input_fomat (string) - Input format (e.g. heureka.cz, zbozi.cz).
    + output_format (string) - Output format.
    + pairing_elements (string) - List of pairing elements (used for sychronization of XML feed).
    + readonly (boolean) - If the project is set to readonly, import of XML feed is forbidden,
      rules cannot be applied, export is skipped.
    + is_paused (boolean) - If the project is paused, automatic scheduled rebuilds are skipped.
    + rules_changed_at (string) - The last time someone created, deleted or updated a rule in the project.
    + slug (string) - Unique identifier used in output URL of the exported XML feed.
    + turned_off (boolean) - Whether the project was turned off or not.
    + update_period (number) - Update period of the project (how often to run import of the input XML feed).
    + last_access (string) - Last access to the project by a user.
    + xml_synced_at (string) - The last time an input feed was imported.
    + xml_updated_at (string) - The last time the project was updated by a change in the input XML feed.
    + is_dirty (boolean) - Dirty project means that during the next rebuild of the project, all rules to
      all products will be applied.

### List Shop Projects [GET]
Returns projects of an eshop.

**OAuth2 Scope:** shop.projects.read

+ Parameters

    + id (string) - ID of a shop.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "limit": 10,
                "offset": 0,
                "data": [
                    {
                        "id": "8",
                        "shop_id": "1",
                        "creator_id": "1",
                        "name": "Billiger.de",
                        "url": "https://app.mergado.com/example-com.xml",
                        "activated": true,
                        "created": "2015-11-11T15:42:33+00:00",
                        "exported_items": 0,
                        "input_format": "zbozi.cz",
                        "output_format": "billiger.de",
                        "pairing_elements": "URL",
                        "readonly": false,
                        "is_paused": false,
                        "rules_changed_at": "2015-11-11T15:43:07+00:00",
                        "slug": "example-com-heureka-cz-asdf",
                        "turned_off": true,
                        "update_period": 14400,
                        "last_access": "2015-12-10T12:51:59+00:00",
                        "xml_synced_at": "2015-11-18T13:19:59+00:00",
                        "xml_updated_at": "2015-11-11T15:42:50+00:00",
                        "is_dirty": false
                    }
                ]
            }

### Get a Project [GET /projects/{id}/{?fields}]
Returns a project with the given ID.

**OAuth2 Scope:** project.read

+ Parameters

    + id (string) - ID of a project.Re

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "8",
                "shop_id": "1",
                "creator_id": "1",
                "name": "Billiger.de",
                "url": "https://dummy.mergado.com/example-com.xml",
                "activated": true,
                "created": "2015-11-11T15:42:33+00:00",
                "exported_items": 0,
                "input_format": "zbozi.cz",
                "output_format": "billiger.de",
                "pairing_elements": "URL",
                "readonly": false,
                "is_paused": false,
                "rules_changed_at": "2015-11-11T15:43:07+00:00",
                "slug": "example-com-heureka-cz-asdf",
                "turned_off": true,
                "update_period": 14400,
                "last_access": "2015-12-10T12:51:59+00:00",
                "xml_synced_at": "2015-11-18T13:19:59+00:00",
                "xml_updated_at": "2015-11-11T15:42:50+00:00"
                "is_dirty": false
            }

### Update a Project [PATCH /projects/{id}/{?fields}]
Updates a project with the given ID.

**Note:** Currently, it is possible tu update only the field `is_dirty` which can be used
to force Mergado to apply all rules to products during the next (lazy) rebuild.

**OAuth2 Scope:** project.write

+ Parameters

    + id (string) - ID of a project.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "is_dirty": true
            }

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "8",
                "shop_id": "1",
                "creator_id": "1",
                "name": "Billiger.de",
                "url": "https://dummy.mergado.com/example-com.xml",
                "activated": true,
                "created": "2015-11-11T15:42:33+00:00",
                "exported_items": 0,
                "input_format": "zbozi.cz",
                "output_format": "billiger.de",
                "pairing_elements": "URL",
                "readonly": false,
                "is_paused": false,
                "rules_changed_at": "2015-11-18T13:20:21+00:00",
                "slug": "example-com-heureka-cz-asdf",
                "turned_off": true,
                "update_period": 14400,
                "last_access": "2015-12-10T12:51:59+00:00",
                "xml_synced_at": "2015-11-18T13:19:59+00:00",
                "xml_updated_at": "2015-11-11T15:42:50+00:00"
                "is_dirty": true
            }

### Show Project Info [GET /projects/{id}/info/]
Show additional project information and statistics.

**Oauth2 Scope:** project.read

+ Parameters

    + id (string) - ID of a project.

+ Response 200

    + Attributes
        + number_of_elements (number) - Number of elements in the project.
        + metadata (object) - Specific data for the project that were entered by the user or loaded from an input feed. For example:
          + stats_ga_source (string) - Google Analytics `ga:source` parameter. Identify the advertiser, site, publication, etc. that is sending traffic to your property, for example: google, newsletter4, billboard.
          + stats_ga_medium (string) - Google Analytics `ga:medium` parameter. The advertising or marketing medium, for example: cpc, banner, email newsletter.
          + generator (string) - Application which generated the input feed.

    + Headers

            Content-Type: application/json
    
    + Body
    
            {
                "metadata": {
                    "stats_ga_medium": "agregator", 
                    "stats_ga_source": "heureka.*.",
                    "generator": "mergado.magento.marketingpack.0_1"
                }, 
                "number_of_elements": 28
            }

## Products [/projects/{id}/products/{?limit,offset,fields}]
A products represents one item in an XML feed.

+ Attributes

    + id (string) - ID of the product.
    + output_changed_at (string) - The last time output data (values of elements)
      of this product changed.
    + updated_at (string) - The last time input data of this product changed.
    + created_at (string) - The time the product was first seen in Mergado.
      Note that this field's value is a `null` for all products first seen
      before the date January 11, 2017.
    + data - Output data of this product.
    + input_data - Input data of this product.

### List Products [GET]
Returns project's products.

**OAuth2 Scope:** project.products.read

+ Parameters

    + id (string) - ID of a shop.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "id": "1693",
                        "output_changed_at": null,
                        "updated_at": "2016-04-28T17:18:50+00:00",
                        "created_at": "2016-03-27T17:18:45+00:00",
                        "data": {
                            "CATEGORYTEXT": "Tonery do tiskáren > Kompatibilní tonery",
                            "DELIVERY_DATE": "0",
                            "DESCRIPTION": "Toner HP Q7551X",
                            "DUES": "0",
                            "IMGURL": "http://www.example.com/img/755.jpg",
                            "MANUFACTURER": "PIRANHA",
                            "PRICE": "808.18",
                            "PRODUCT": "Toner HP Q7551X",
                            "URL": "http://www.comps.cz/toner-hp-755",
                            "VAT": "21.0"
                        },
                        "input_data": {
                            "CATEGORYTEXT": "Tonery do tiskáren | Kompatibilní tonery",
                            "DELIVERY_DATE": "0",
                            "DESCRIPTION": "Toner HP Q7551X",
                            "DUES": "3",
                            "IMGURL": "http://www.example.com/img/755.jpg",
                            "MANUFACTURER": "PIRANHA",
                            "PRICE": "808.18",
                            "PRODUCT": "Toner HP Q7551X",
                            "URL": "http://www.comps.cz/toner-hp-755",
                            "VAT": "21.0"
                        }
                    },
                    {
                        "id": "1694",
                        "output_changed_at": null,
                        "updated_at": "2016-04-28T17:18:50+00:00",
                        "created_at": "2016-03-27T17:18:45+00:00",
                        "data": {
                            "CATEGORYTEXT": "Tonery do tiskáren > Kompatibilní tonery",
                            "DELIVERY_DATE": "0",
                            "DESCRIPTION": "Toner HP Q7532X",
                            "DUES": "0",
                            "IMGURL": "http://www.example.com/img/7532.jpg",
                            "MANUFACTURER": "PIRANHA",
                            "PRICE": "848.18",
                            "PRODUCT": "Toner HP Q7532X",
                            "URL": "http://www.comps.cz/toner-hp-7532",
                            "VAT": "21.0"
                        },
                        "input_data": {
                            "CATEGORYTEXT": "Tonery do tiskáren | Kompatibilní tonery",
                            "DELIVERY_DATE": "0",
                            "DESCRIPTION": "Toner HP Q7532X",
                            "DUES": "0",
                            "IMGURL": "http://www.example.com/img/7532.jpg",
                            "MANUFACTURER": "PIRANHA",
                            "PRICE": "848.18",
                            "PRODUCT": "Toner HP Q7532X",
                            "URL": "http://www.comps.cz/toner-hp-7532",
                            "VAT": "21.0"
                        }
                    }
                ],
                "limit": 10,
                "offset": 0
            }

### Get a Product [GET /products/{id}/{?fields}]
Returns a product with the given ID.

**OAuth2 Scope:** project.products.read

+ Parameters

    + id (string) - ID of a product.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "1693",
                "output_changed_at": null,
                "updated_at": "2016-04-28T17:18:50+00:00",
                "created_at": "2016-03-27T17:18:45+00:00",
                "data": {
                    "CATEGORYTEXT": "Tonery do tiskáren > Kompatibilní tonery",
                    "DELIVERY_DATE": "0",
                    "DESCRIPTION": "Toner HP Q7551X",
                    "DUES": "0",
                    "IMGURL": "http://www.example.com/img/755.jpg",
                    "MANUFACTURER": "PIRANHA",
                    "PRICE": "808.18",
                    "PRODUCT": "Toner HP Q7551X",
                    "URL": "http://www.comps.cz/toner-hp-755",
                    "VAT": "21.0"
                },
                "input_data": {
                    "CATEGORYTEXT": "Tonery do tiskáren | Kompatibilní tonery",
                    "DELIVERY_DATE": "0",
                    "DESCRIPTION": "Toner HP Q7551X",
                    "DUES": "0",
                    "IMGURL": "http://www.example.com/img/755.jpg",
                    "MANUFACTURER": "PIRANHA",
                    "PRICE": "808.18",
                    "PRODUCT": "Toner HP Q7551X",
                    "URL": "http://www.comps.cz/toner-hp-755",
                    "VAT": "21.0"
                }
            }

### Update a Product [PATCH /products/{id}/{?fields}]
Updates a product with the given ID.

**Note:** Currently, it is possible tu update only the field `updated_at` which can be used
to force Mergado to refresh the product (apply rules) during the next (lazy) rebuild.

**OAuth2 Scope:** project.products.write

+ Parameters

    + id (string) - ID of a product.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "updated_at": "2017-05-21T00:00:00+00:00"
            }

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "1693",
                "output_changed_at": null,
                "updated_at": "2017-05-21T00:00:00+00:00",
                "created_at": "2016-03-27T17:18:45+00:00",
                "data": {
                    "CATEGORYTEXT": "Tonery do tiskáren > Kompatibilní tonery",
                    "DELIVERY_DATE": "0",
                    "DESCRIPTION": "Toner HP Q7551X",
                    "DUES": "0",
                    "IMGURL": "http://www.example.com/img/755.jpg",
                    "MANUFACTURER": "PIRANHA",
                    "PRICE": "808.18",
                    "PRODUCT": "Toner HP Q7551X",
                    "URL": "http://www.comps.cz/toner-hp-755",
                    "VAT": "21.0"
                },
                "input_data": {
                    "CATEGORYTEXT": "Tonery do tiskáren | Kompatibilní tonery",
                    "DELIVERY_DATE": "0",
                    "DESCRIPTION": "Toner HP Q7551X",
                    "DUES": "0",
                    "IMGURL": "http://www.example.com/img/755.jpg",
                    "MANUFACTURER": "PIRANHA",
                    "PRICE": "808.18",
                    "PRODUCT": "Toner HP Q7551X",
                    "URL": "http://www.comps.cz/toner-hp-755",
                    "VAT": "21.0"
                }
            }

### Query Products [GET /queries/{id}/products/{?limit,offset,fields}]
Returns products that satisfy a condition defined by the given query.

**OAuth2 Scope:** projects.products.read

+ Parameters

    + id (string) - ID of the query.
    
+ Response 200

    + Headers

            Content-Type: application/json

    + Body  
    
            {
                "data": [
                    {
                        "id": "3838",
                        "output_changed_at": "2016-04-25T17:20:44+00:00",
                        "updated_at": "2016-04-25T16:42:50+00:00",
                        "created_at": "2016-03-27T17:18:45+00:00",
                        "data": {
                            "CATEGORYTEXT": "Text kategorie",
                            "DELIVERY_DATE": "0",
                            "DELIVERY_PRICE_COD|DHL": "5.90",
                            "DELIVERY_PRICE_COD|SLOVENSKA_POSTA": "3.90",
                            "DELIVERY_PRICE|DHL": "4.90",
                            "DELIVERY_PRICE|SLOVENSKA_POSTA": "2.90",
                            "DESCRIPTION": "Popis produktu",
                            "GIFT": "Zľavový kupón na ďalší nákup",
                            "HEUREKA_CPC": null,
                            "IMGURL": "http://www.obrazok.sk/obrazok.jpg",
                            "ITEM_ID": "766",
                            "MANUFACTURER": "Vyrobca",
                            "PRICE_VAT": "25.39",
                            "PRODUCT": "Vyrobok",
                            "PRODUCTNAME": "Nayov vzrobku",
                            "URL": "http://www.url.cz/prevyrobok/",
                            "VAT": "0.21"
                        },
                        "input_data": {
                            "CATEGORYTEXT": "Text kategorie",
                            "DELIVERY_DATE": "0",
                            "DELIVERY_PRICE_COD|DHL": "5.90",
                            "DELIVERY_PRICE_COD|SLOVENSKA_POSTA": "3.90",
                            "DELIVERY_PRICE|DHL": "4.90",
                            "DELIVERY_PRICE|SLOVENSKA_POSTA": "2.90",
                            "DESCRIPTION": "Popis produktu",
                            "GIFT": "Zľavový kupón na ďalší nákup",
                            "HEUREKA_CPC": null,
                            "IMGURL": "http://www.obrazok.sk/obrazok.jpg",
                            "ITEM_ID": "766",
                            "MANUFACTURER": "Vyrobca",
                            "PRICE_VAT": "25.39",
                            "PRODUCT": "Vyrobok",
                            "PRODUCTNAME": "Nayov vzrobku",
                            "URL": "http://www.url.cz/prevyrobok/",
                            "VAT": "0.21"
                        }
                    },
                    {
                        "id": "3839",
                        "output_changed_at": "2016-04-25T17:20:44+00:00",
                        "updated_at": "2016-04-25T16:42:50+00:00",
                        "created_at": "2016-03-27T17:18:45+00:00",
                        "data": {
                            "CATEGORYTEXT": "Text kategorie",
                            "DELIVERY_DATE": "0",
                            "DELIVERY_PRICE_COD|DHL": "5.90",
                            "DELIVERY_PRICE_COD|SLOVENSKA_POSTA": "3.90",
                            "DELIVERY_PRICE|DHL": "4.90",
                            "DELIVERY_PRICE|SLOVENSKA_POSTA": "2.90",
                            "DESCRIPTION": "Popis produktu",
                            "GIFT": "Zľavový kupón na ďalší nákup",
                            "HEUREKA_CPC": null,
                            "IMGURL": "http://www.obrazok.sk/obrazok.jpg",
                            "ITEM_ID": "766",
                            "MANUFACTURER": "Vyrobca",
                            "PRICE_VAT": "25.39",
                            "PRODUCT": "Vyrobok",
                            "PRODUCTNAME": "Nayov vzrobku",
                            "URL": "http://www.url.cz/prevyrobok/",
                            "VAT": "0.21"
                        },
                        "input_data": {
                            "CATEGORYTEXT": "Text kategorie",
                            "DELIVERY_DATE": "0",
                            "DELIVERY_PRICE_COD|DHL": "5.90",
                            "DELIVERY_PRICE_COD|SLOVENSKA_POSTA": "3.90",
                            "DELIVERY_PRICE|DHL": "4.90",
                            "DELIVERY_PRICE|SLOVENSKA_POSTA": "2.90",
                            "DESCRIPTION": "Popis produktu",
                            "GIFT": "Zľavový kupón na ďalší nákup",
                            "HEUREKA_CPC": null,
                            "IMGURL": "http://www.obrazok.sk/obrazok.jpg",
                            "ITEM_ID": "766",
                            "MANUFACTURER": "Vyrobca",
                            "PRICE_VAT": "25.39",
                            "PRODUCT": "Vyrobok",
                            "PRODUCTNAME": "Nayov vzrobku",
                            "URL": "http://www.url.cz/prevyrobok/",
                            "VAT": "0.21"
                        }
                    }
                ],
                "limit": 10,
                "offset": 0
            }

### Update products [PATCH /queries/{id}/products/{?fields}]
Updates products matching a query.

**Note:** Currently, it is possible tu update only the field `updated_at` which can be used
to force Mergado to refresh the products (apply rules) during the next (lazy) rebuild.

**OAuth2 Scope:** project.products.write

+ Parameters

    + id (string) - ID of a product.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "updated_at": "2017-05-21T00:00:00+00:00"
            }

+ Response 204

## Elements [/projects/{id}/elements/]
Elements are named attributes of products.

+ Attributes

    + id (string) - ID of the element.
    + project_id (string) - ID of the project in which the element created.
    + name (string) - Name of the element.
    + type (enum[string]) - Type of the element.
        + members
            + input
            + manual
            + from_rule
            + special
    + hidden (boolean) - Whether the product is hidden or not. Elements
      can be hidden by a user or a hiding rule.

### Create an Element [POST]
Creates an element inside a project.

**OAuth2 Scope:** project.elements.write

+ Parameters

    + id (string) - ID of a project.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "name": "SHIPPING",
                "hidden": false
            }

+ Response 201

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/elements/123"

    + Body
    
            {
                "id": "123",
                "project_id": "1",
                "name": "SHIPPING",
                "type": "output",
                "hidden": false
            }

### List Project Elements [GET /projects/{id}/elements/{?limit,offset,fields}]
Lists all project's elements.

**OAuth2 Scope:** project.elements.read

+ Parameters

    + id (string) - ID of a project.

+ Response 200

    + Headers
    
            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "hidden": false,
                        "id": "1",
                        "name": "PRODUCT",
                        "project_id": "33",
                        "type": "input"
                    },
                    {
                        "hidden": false,
                        "id": "2",
                        "name": "DESCRIPTION",
                        "project_id": "33",
                        "type": "input"
                    },
                    {
                        "hidden": false,
                        "id": "4",
                        "name": "URL",
                        "project_id": "33",
                        "type": "input"
                    },
                    {
                        "hidden": false,
                        "id": "5",
                        "name": "CATEGORYTEXT",
                        "project_id": "33",
                        "type": "input"
                    },
                    {
                        "hidden": false,
                        "id": "6",
                        "name": "PRICE",
                        "project_id": "33",
                        "type": "input"
                    }
                ],
                "limit": 10,
                "offset": 0
            }

### Get an Element [GET /elements/{id}/{?fields}]
Returns an element.

**OAuth2 Scope:** project.elements.read

+ Parameters

    + id (string) - ID of an element.

+ Response 200

    + Headers
    
            Content-Type: application/json

    + Body
    
            {
                "hidden": false,
                "id": "6",
                "name": "PRICE",
                "project_id": "33",
                "type": "input"
            }

### Delete an Element [DELETE /elements/{id}/{?fields}]
Delete the specified element.

**OAuth2 Scope:** project.elements.write

+ Parameters

    + id (string) - ID of an element.

+ Request

    + Headers

            Accept: application/json

+ Response 204

    + Headers

            Content-Type: application/json

### Update an Element [PATCH /elements/{id}/]
Performes update of element's attributes.

**OAuth2 Scope:** project.elements.write

+ Parameters

    + id (string) - ID of a project.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "hidden": true
            }

+ Response 200

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/elements/123"

    + Body
    
            {
                "id": "123",
                "project_id": "1",
                "name": "SHIPPING",
                "type": "output",
                "hidden": true
            }

## Variables [/project/{id}/variables/]
Variables can be seen as pointers to products' values or parts of values and
can be used in most _rules_ (see the section about rules). Variables are created
automatically during import and in the UI (but not in the API) when an element
is created. However, they can be also created by users who can use a regular
expression to match only a part of a product's value.

+ Attributes

    + id (string) - ID of the variable.
    + name (string) - Name of the variable.
    + project_element_id (string) - ID of the element the variable is created from.
    + project_id (string) - ID of the project the variable is created in.
    + regular_expression (string, optional) - Regular expression used for
      parsing some part of an element's value (for example domain from URL).
    + fragment_number (number, optional) - Fragment or group number to match
      from given regular expression.
    + sample_text (string, optional) - Sample text used for the regular
      expression. This is visible in the UI so that a user can immediately
      see the result of the regular expression.
    + type (enum[string]) - Type of the variable, whether it was created
      automatically as a pair to input elements, or manually by a user or in API.
        + members
            + input
            + manual

### Create a Variable [POST]
Creates a new variable inside a project.

**OAuth2 Scope:** project.variables.write

+ Parameters

    + id (string) - ID of a project.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "name": "DESCRIPTION_A",
                "project_element_id": "1",
                "regular_expression": "(\\-|\\* )?(.*)",
                "sample_text": null,
                "fragment_number": 2
            }

+ Response 201

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/variables/1521/"

    + Body
    
            {
                "id": "1521",
                "name": "DESCRIPTION_A",
                "project_element_id": "1",
                "project_id": "33",
                "regular_expression": "(\\-|\\* )?(.*)",
                "fragment_number": 2,
                "sample_text": null,
                "type": "manual"
            }

### List Project Variables [GET /projects/{id}/variables/{?limit,offset,fields}]
Lists all project's variables.

**OAuth2 Scope:** project.variables.read

+ Parameters

    + id (string) - ID of a variable.

+ Response 200

    + Headers
    
            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "id": "1521",
                        "name": "DESCRIPTION_A",
                        "project_element_id": "1",
                        "project_id": "33",
                        "regular_expression": "(\\-|\\* )?(.*)",
                        "fragment_number": 2,
                        "sample_text": null,
                        "type": "manual"
                    }
                ],
                "limit": 10,
                "offset": 0
            }

### Get a Variable [GET /variables/{id}/{?fields}]
Returns a variable.

**OAuth2 Scope:** project.variables.read

+ Parameters

    + id (string) - ID of a variable.

+ Response 200

    + Headers
    
            Content-Type: application/json

    + Body
    
            {
                "id": "1521",
                "name": "DESCRIPTION_A",
                "project_element_id": "1",
                "project_id": "33",
                "regular_expression": "(\\-|\\* )?(.*)",
                "fragment_number": 2,
                "sample_text": null,
                "type": "manual"
            }

### Delete a Variable [DELETE /variables/{id}/{?fields}]
Delete the specified variable.

**OAuth2 Scope:** project.variables.write

+ Parameters

    + id (string) - ID of a variable.

+ Request

    + Headers

            Accept: application/json

+ Response 204

    + Headers

            Content-Type: application/json

### Update a Variable [PATCH /variables/{id}/]
Performes update of variable's attributes.

**OAuth2 Scope:** project.variables.write

+ Parameters

    + id (string) - ID of a variable.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "name": "DESCRIPTION_OMG"
            }

+ Response 200

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/variables/1521"

    + Body
    
            {
                "id": "1521",
                "name": "DESCRIPTION_OMG",
                "project_element_id": "1",
                "project_id": "33",
                "regular_expression": "(\\-|\\* )?(.*)",
                "fragment_number": 2,
                "sample_text": null,
                "type": "manual"
            }

## Rules [/projects/{id}/rules/]
API for rule management, definition and application. Rules are probably the most important feature
in Mergado. They allow users to modify their XML feeds or can be used to convert a feed to a different
format (e.g. from Heureka.cz to Google Merchant).

+ Attributes

    + id (string) - ID of the rule.
    + name (string) - Name of the rule (is shown in Mergado UI).
    + type (string) - Type of the rule.
    + project_id (string) - ID of the project the rule was created in.
    + project_element_id (string, optional) - ID of the element the rule
      should apply to. The element is optional, not all rules require an element.
    + priority (number) - Priority of the rule, or the position when it is applied.
      The position matters as each rule makes some changes to the products' data.
    + applies (boolean) - Whether the rule is turned on or off.
    + is_deletable (boolean) - Whether the user is allowed to delete the rule.
    + is_movable (boolean) - Whether the user is allowed to change position
      the rule.
    + is_editable (boolean) - Whether the user is allowed to edit the rule.
    + is_pausable (boolean) - Whether the user is allowed to pause the rule.
    + data - Parameters of the rule, some rules accept parameters, e.g.
      a value to write into an element, regular expressions, etc.
    + queries (array) - It is possible to control to what products each rule applies.
      Queries exists for exactly this purpose. If no query is specified,
      the rule will be applied to all products.

### Create a Rule [POST]
Creates a new rule inside the specified project. 

There are two ways how to specify priority. You can either use the *placement* parameter and specify 
the id of the rule that the newly created one is supposed to **follow** or **precede**. 
Or you can set the *priority* value directly. Parameters *priority* and *placement* are optional, but at least
one of them must be specified.

Note that if there already is a rule with the given priority, the priority of the new rule will be adjusted 
so that the new rule follows the one with conflicting priority. Also note that *placement* is only regarded
when a rule is created or updated. Another rule may be placed between the created rule and the one it was originally
placed before / after later on.

To determine the priority on server side, we first check the value of *placement[after]*, 
then the value of *placement [before]* and lastly the value of *priority* itself.

**OAuth2 Scope:** project.rules.write

+ Parameters

    + id (string) - ID of a project.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "name": "Cena",
                "type": "rewriting",
                "project_element_id": "5",
                "applies": true,
                "priority": "3",
                "placement": {
                    "after": "1"
                }
                "is_deletable": true,
                "is_movable": true,
                "is_editable": true,
                "is_pausable": true,
                "data": {
                    "new_content": "%CATEGORYTEXT%"
                },
                "queries": [
                    {
                        "id": "2"
                    }
                ]
            }

+ Response 201

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/rules/15/"

    + Body
    
            {
                "id": "15",
                "name": "Cena",
                "type": "rewriting",
                "project_id": "1",
                "project_element_id": "5",
                "applies": true,
                "is_deletable": true,
                "is_movable": true,
                "is_editable": true,
                "is_pausable": true,
                "priority": "3.5",
                "data": {
                    "new_content": "%CATEGORYTEXT%"
                },
                "queries": [
                    {
                        "advanced_interface": false,
                        "created_at": "2016-03-22T09:05:14+00:00",
                        "id": "2",
                        "name": null,
                        "project_id": "33",
                        "query": "PRICE > 20",
                        "read_only": false,
                        "search_output": false
                    }
                ]
            }

+ Request

    + Headers
    
            Content-Type: application/json
    
    + Body
    
            {
                "name": "Cena 2 BATCH",
                "project_element_id": "5",
                "applies": true,
                "deletable": true,
                "priority": "3",
                "type": "batch_rewriting",
                "data": [
                    {
                        "position": 1,
                        "query_id": "4",
                        "value": "2.00"
                    },
                    {
                        "position": 2,
                        "query_id": "3",
                        "value": "1.00"
                    }
                ]
            }

+ Response 201

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/rules/16/"

    + Body
    
            {
                "applies": true,
                "is_deletable": true,
                "is_movable": true,
                "is_editable": true,
                "is_pausable": true,
                "id": "39",
                "name": "Cena 2 BATCH",
                "priority": "3",
                "project_element_id": "5",
                "project_id": "33",
                "type": "batch_rewriting",
                "data": [
                    {
                        "position": 1,
                        "query_id": "4",
                        "value": "2.00"
                    },
                    {
                        "position": 2,
                        "query_id": "3",
                        "value": "1.00"
                    }
                ],
                "queries": [
                    {
                        "id": "1",
                        "advanced_interface": false,
                        "created_at": "2016-03-22T09:02:42+00:00",
                        "name": "♥ALLPRODUCTS♥",
                        "project_id": "33",
                        "query": "",
                        "read_only": true,
                        "search_output": false
                    }
                ]
            }

### List Project Rules [GET /projects/{id}/rules/{?limit,offset,fields}]
Lists all rules' instances that were created inside the specified project.

**OAuth2 Scope:** project.rules.read

+ Parameters

    + id (string) - ID of a project.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "id": "1",
                        "project_id": "1",
                        "project_element_id": null,
                        "applies": true,
                        "is_deletable": true,
                        "is_movable": true,
                        "is_editable": true,
                        "is_pausable": true,
                        "name": null,
                        "priority": "0",
                        "type": "format_converter"
                    },
                    {
                        "id": "15",
                        "project_id": "1",
                        "project_element_id": "5",
                        "applies": true,
                        "is_deletable": true,
                        "is_movable": true,
                        "is_editable": true,
                        "is_pausable": true,
                        "name": "Cena",
                        "priority": "3",
                        "type": "batch_rewriting"
                    }
                ],
                "limit": 10,
                "offset": 0
            }

### Get a Rule [GET /rules/{id}/{?fields}]
Returns a specific rule instance.

**OAuth2 Scope:** project.rules.read

+ Parameters

    + id (string) - ID of a rule.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "15",
                "project_id": "1",
                "project_element_id": "5",
                "applies": true,
                "is_deletable": true,
                "is_movable": true,
                "is_editable": true,
                "is_pausable": true,
                "name": "Cena",
                "priority": "3",
                "type": "rewriting",
                "data": {
                    "new_content": "%CATEGORYTEXT%"
                }
            }

### Delete a Rule [DELETE /rules/{id}/{?fields}]
Delete the specified rule.

**OAuth2 Scope:** project.rules.write

+ Parameters

    + id (string) - ID of a rule.

+ Request

    + Headers

            Accept: application/json

+ Response 204

    + Headers

            Content-Type: application/json

### Update a Rule [PATCH /rules/{id}/]
Performs update of rule's attributes. Refer to the doc for rule creation to find out more about
how priority is calculated.

**OAuth2 Scope:** project.rules.write

+ Parameters

    + id (string) - ID of a project.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "name": "PRODUCTNAME: Added Free Car",
                "data": {
                    "new_content": "%PRODUCTNAME% + Car"
                }
            }

+ Response 200

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/rules/112"

    + Body
    
            {
                "id": "112",
                "project_id": "2",
                "project_element_id": "50",
                "applies": true,
                "is_deletable": true,
                "is_movable": true,
                "is_editable": true,
                "is_pausable": true,
                "name": "PRODUCTNAME: Added Free Car",
                "placement": {
                    "before": "111"
                }
                "type": "rewriting",
                "data": {
                    "new_content": "%CATEGORYTEXT% + Car"
                }
            }

### Get Rule Data [GET /rules/{id}/data/{?limit,offset,fields}]
Returns only the data of a specific rule instance. This can be helpful
for one to many (O2M) rules with a lot of records.

**OAuth2 Scope:** project.rules.read

+ Parameters

    + id (string) - ID of a rule.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "position": 1,
                        "query_id": "28",
                        "value": "2.00"
                    },
                    {
                        "position": 2,
                        "query_id": "30",
                        "value": "1.00"
                    }
                ],
                "type": "batch_rewriting",
                "rule_id": "15"
            }

## Queries [/projects/{id}/queries/]
MQL query management.

+ Attributes

    + id (string) - ID of the query.
    + name (string) - Name of the query.
    + project_id (string) - ID of the project the query is created in.
    + advanced_interface (string) - Whether the query was created using
      the advanced interface. Advanced interface represents the raw MQL query.
    + created_at (string) - When was the query created.
    + query (string) - Raw MQL.
    + read_only (boolean) - Whether the query can be modified.
    + search_output (boolean) - Whether the query should select products' data
      according to the values of input data or output data.
    + product_count (number) - Number of products matching the query.

### Create a Query [POST]
Creates a new query inside the specified project.

**OAuth2 Scope:** project.queries.write

+ Parameters

    + id (string) - ID of a project.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "name": "PRICE less then 200 Kč",
                "query": "PRICE < 200",
                "read_only": false,
                "search_output": true
            }

+ Response 201

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/queries/d3o9v/"

    + Body
    
            {
                "id": "d3o9v",
                "name": "PRICE less then 200 Kč",
                "project_id": "21",
                "advanced_interface": true,
                "created_at": "2016-03-22T09:02:42+00:00",
                "query": "PRICE < 200",
                "read_only": false,
                "search_output": false,
                "product_count": 206
            }

### Get a Query [GET /queries/{id}/{?fields}]
Returns the requrested query.

**OAuth2 Scope:** project.queries.read

+ Parameters

    + id (string) - ID of a query.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "2",
                "name": null,
                "project_id": "33",
                "advanced_interface": false,
                "created_at": "2016-03-22T09:05:14+00:00",
                "query": "CATEGORYTEXT = \"Spotřební materiál | Ostatní spotřební materiál | Pásky a filmy\"",
                "read_only": false,
                "search_output": false,
                "product_count": 12
            }

### Delete a Query [DELETE /queries/{id}/]
Deletes a specific query.

**OAuth2 Scope:** project.queries.write

+ Parameters

    + id (string) - ID of a query.

+ Request

    + Headers

            Accept: application/json

+ Response 204

    + Headers

            Content-Type: application/json

### Update a Query [PATCH /queries/{id}/]
Performes update of the specified query.

**OAuth2 Scope:** project.queries.read

+ Parameters

    + id (string) - ID of a project.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "query": "PRICE > 200"
            }

+ Response 200

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/queries/d3o9v/"

    + Body
    
            {
                "id": "d3o9v",
                "name": "PRICE more then 200 Kč",
                "project_id": "21",
                "advanced_interface": false,
                "created_at": "2016-03-22T09:02:42+00:00",
                "query": "PRICE > 200",
                "read_only": false,
                "search_output": false,
                "product_count": 12983
            }

### List Project Queries [GET /projects/{id}/queries/{?limit,offset,fields}]
Lists all queries that were created inside the specified project.

**OAuth2 Scope:** project.queries.read

+ Parameters

    + id (string) - ID of a project.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "id": "2",
                        "name": null,
                        "project_id": "33",
                        "advanced_interface": false,
                        "created_at": "2016-03-22T09:05:14+00:00",
                        "query": "CATEGORYTEXT = \"Spotřební materiál | Pásky a filmy\"",
                        "read_only": false,
                        "search_output": false,
                        "product_count": 986
                    },
                    {
                        "id": "1",
                        "name": "ALLPRODUCTS",
                        "project_id": "33",
                        "advanced_interface": false,
                        "created_at": "2016-03-22T09:02:42+00:00",
                        "query": "",
                        "read_only": true,
                        "search_output": false,
                        "product_count": 74
                    }
                ],
                "limit": 10,
                "offset": 0
            }

### List Rule Queries [GET /rules/{id}/queries/{?limit,offset,fields}]
Lists all queries that were created for the specified rule.

**OAuth2 Scope:** project.queries.read

+ Parameters

    + id (string) - ID of a rule.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "id": "2",
                        "name": null,
                        "project_id": "33",
                        "advanced_interface": false,
                        "created_at": "2016-03-22T09:05:14+00:00",
                        "query": "CATEGORYTEXT = \"Spotřební materiál | Pásky a filmy\"",
                        "read_only": false,
                        "search_output": false,
                        "product_count": 12
                    },
                    {
                        "id": "1",
                        "name": "ALLPRODUCTS",
                        "project_id": "33",
                        "advanced_interface": false,
                        "created_at": "2016-03-22T09:02:42+00:00",
                        "query": "",
                        "read_only": true,
                        "search_output": false,
                        "product_count": 38
                    }
                ],
                "limit": 10,
                "offset": 0
            }

### Assign a Query to a Rule [PATCH /rules/{id}/queries/]
Assigns a Query to a Rule. The query must exist, otherwise 400 (bad request) status is returned.
The body parameters also must uniquely identify a query. If the query is already assigned to the rule,
409 (conflict) status is returned.

**OAuth2 Scope:** project.rules.write

+ Parameters

    + id (string) - ID of a rule.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "d3o9v"
            }

+ Response 200

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/rules/d3o9v/queries/"

    + Body
    
            {
                "data": [
                    {
                        "id": "d3o9v",
                        "name": "PRICE more then 200 Kč",
                        "project_id": "21",
                        "advanced_interface": false,
                        "created_at": "2016-03-22T09:02:42+00:00",
                        "query": "PRICE > 200",
                        "read_only": false,
                        "search_output": false,
                        "product_count": 4583
                    }
                ],
                "limit": 10,
                "offset": 0
            }

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "name": "PRICE more then 200 Kč",
                "query": "PRICE > 200"
            }

+ Response 200

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/rules/d3o9v/queries/"

    + Body
    
            {
                "data": [
                    {
                        "id": "2",
                        "name": "PRICE more then 200 Kč",
                        "project_id": "33",
                        "advanced_interface": false,
                        "created_at": "2016-03-22T09:05:14+00:00",
                        "query": "PRICE > 200",
                        "read_only": false,
                        "search_output": false,
                        "product_count": 4583
                    }
                ],
                "limit": 10,
                "offset": 0
            }

### Retract a Query from a Rule [DELETE /rules/{rid}/queries/{qid}]
Retract a Query from a Rule.

**OAuth2 Scope:** project.rules.write

+ Parameters

    + rid (string) - ID of a rule.
    + qid (string) - ID of a query.

+ Request

    + Headers

            Content-Type: application/json

+ Response 204

## Notifications [/shops/{id}/notifications/]
API for notifications. Notifications in Mergado have _channels_. A channel
represents a way to notify the users. Furthermore, notifications can be created
with a different _scope_. A scope defines who will receive the notification.
Notifications can be also made with different _priority_. Users can configure
what notification and how often they want to receive each notification with
given priority.

+ Attributes

    + title (string) - Subject or title of the notification.
    + body (string) - Notification text.
    + channels (enum[string], optional) - List of channels.
        + Default
            + `frontend`
        + Members
            + `email` - Notification is sent to the user's email.
            + `frontend` - Notification is shown in the Mergado's notification panel.
    + priority (enum[string], optional) - Priority of the notification.
        + Default
            + `medium`
        + Members
            + `low`
            + `medium`
            + `high`
    + scope (enum[string], optional) - Scope of the notification.
        + Default
            + `shop`
        + Members
            + `shop` - Notification is sent to all users who can access the eshop.
            + `owner` - Notification is sent only to the owner of the eshop.
            + `user` - Notification is sent to single user.

### Notify Eshop Members [POST]
**OAuth2 Scope:** shop.notify.write

+ Parameters

    + id (string) - ID of an eshop.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "title": "Eshop problem",
                "body": "There seems to be a problem in your eshop.",
                "channels": ["email"],
                "created_at": "2016-05-11 14:43:18",
                "priority": "high",
                "scope": "owner"
            }

+ Response 201

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/notifications/30/"

    + Body
    
            {
                "id": "30",
                "title": "Eshop problem",
                "body": "There seems to be a problem in your eshop.",
                "channels": ["email"],
                "created_at": "2016-05-11T14:43:18+00:00",
                "priority": "high",
                "scope": "owner"
            }

### Notify a User [POST /users/{id}/notifications/]
**OAuth2 Scope:** user.notify.write

+ Parameters

    + id (string) - ID of a user.

+ Request

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "title": "User settings change",
                "body": "Your settings has been updated.",
                "channels": ["email"],
                "created_at": "2016-05-11 14:43:18",
                "priority": "high"
            }

+ Response 201

    + Headers

            Content-Type: application/json
            Location: "https://app.mergado.com/api/notifications/32/"

    + Body
    
            {
                "id": "32",
                "title": "User settings change",
                "body": "Your settings has been updated.",
                "channels": ["frontend"],
                "created_at": "2016-05-11T14:43:18+00:00",
                "priority": "low",
                "scope": "user"
            }

### Get a Notification [GET /notifications/{id}/{?fields}]
**OAuth2 Scope:** shop.notify.read

+ Parameters

    + id (string) - ID of a notification.

+ Response 201

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "id": "30",
                "title": "Eshop problem",
                "body": "There seems to be a problem in your eshop.",
                "channels": ["email"],
                "created_at": "2016-05-11T14:43:18+00:00",
                "priority": "high",
                "scope": "owner"
            }
            
### Get Users Notifications [GET /users/{id}/notifications/{?fields}]
**OAuth2 Scope:** user.notify.read

+ Parameters

    + id (string) - ID of a user.

+ Response 201

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "address": "freddy.krueger@mergado.com",
                        "channel": "email",
                        "id": "1",
                        "locale": null,
                        "notification_id": "1",
                        "resolve": "promptly",
                        "resolved_at": "2016-04-13T15:58:51+00:00",
                        "user_id": "1"
                    },
                    {
                        "address": null,
                        "channel": "frontend",
                        "id": "2",
                        "locale": null,
                        "notification_id": "2",
                        "resolve": "promptly",
                        "resolved_at": null,
                        "user_id": "1"
                    }
                ],
                "limit": 10,
                "offset": 0
            }

## Logs [/projects/{id}/]
Core actions like import, export, an application of rules or download by a shopping
service are logged separately. Note that each log entry is available only for 30 days.

### Get an Import Log [GET /importlogs/{id}/{?fields}]
Fetches an import log with the given ID.

**OAuth2 Scope:** project.logs.read

+ Parameters

    + id (string) - ID of a log.
    
+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "duration": 2.352,
                "finished_at": "2016-05-18T15:16:25+00:00",
                "id": "75",
                "items": 1,
                "items_created": 1,
                "items_processed": 1,
                "items_removed": 0,
                "items_updated": 0,
                "started_at": "2016-05-18T15:16:23+00:00",
                "user_id": "1"
            }

### Get Import Logs [GET /projects/{id}/importlogs/{?limit,offset,fields}]
Fetches all import logs for given project.

**OAuth2 Scope:** project.logs.read

+ Parameters

    + id (string) - ID of a project.
    
+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "duration": 2.352,
                        "finished_at": "2016-05-18T15:16:25+00:00",
                        "id": "75",
                        "items": 1,
                        "items_created": 1,
                        "items_processed": 1,
                        "items_removed": 0,
                        "items_updated": 0,
                        "started_at": "2016-05-18T15:16:23+00:00",
                        "user_id": "1"
                    },
                    {
                        "duration": 1.423,
                        "finished_at": "2016-05-18T15:17:21+00:00",
                        "id": "76",
                        "items": 1,
                        "items_created": 0,
                        "items_processed": 1,
                        "items_removed": 0,
                        "items_updated": 0,
                        "started_at": "2016-05-18T15:17:20+00:00",
                        "user_id": null
                    }
                ],
                "limit": 10,
                "offset": 0
            }
            
### Get an Apply Log [GET /applylogs/{id}/{?fields}]
Fetches an apply log with the given ID. 

**OAuth2 Scope:** project.logs.read

+ Attributes

    + id (string) - ID of the log.
    + duration (number) - How long the action took.
    + started_at (string) - When the action started.
    + finished_at (string) - When the action ended.
    + rules (array) - Info about each applied rule.
    + user_id (string) - ID of the user who started the action.
    + applied_to_all_items (boolean) - Whether the action has
      been performed on all products.

+ Parameters

    + id (string) - ID of a log.
    
+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "duration": 1.548,
                "finished_at": "2016-05-18T15:16:26+00:00",
                "id": "155",
                "items": 1,
                "started_at": "2016-05-18T15:16:25+00:00",
                "rules": [
                    {
                        "processed_products": 64, 
                        "products": 64, 
                        "rule_id": "1"
                    }
                ],
                "user_id": "1",
                "applied_to_all_items": true
            }

### Get Apply Logs [GET /projects/{id}/applylogs/{?limit,offset,fields}]
Fetches all apply logs for given project.

**OAuth2 Scope:** project.logs.read

+ Attributes

    + id (string) - ID of the log.
    + duration (number) - How long the action took.
    + started_at (string) - When the action started.
    + finished_at (string) - When the action ended.
    + rules (array) - Info about each applied rule.
    + user_id (string) - ID of the user who started the action.
    + applied_to_all_items (boolean) - Whether the action has
      been performed on all products.

+ Parameters

    + id (string) - ID of a project.
    
+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "duration": 1.548,
                        "finished_at": "2016-05-18T15:16:26+00:00",
                        "id": "155",
                        "items": 1,
                        "started_at": "2016-05-18T15:16:25+00:00",
                        "rules": [
                            {
                                "processed_products": 64, 
                                "products": 64, 
                                "rule_id": "1"
                            }
                        ],
                        "user_id": "1",
                        "applied_to_all_items": true
                    },
                    {
                        "duration": 1.464,
                        "finished_at": "2016-05-18T15:17:22+00:00",
                        "id": "156",
                        "items": 1,
                        "started_at": "2016-05-18T15:17:21+00:00",
                        "rules": [
                            {
                                "processed_products": 64, 
                                "products": 64, 
                                "rule_id": "1"
                            },
                            {
                                "processed_products": 64, 
                                "products": 64,
                                "rule_id": "5"
                            }
                        ],
                        "user_id": null,
                        "applied_to_all_items": false
                    }
                ],
                "limit": 10,
                "offset": 0
            }
            
### Get an Export Log [GET /exportlogs/{id}/{?fields}]
Fetches an export log with the given ID.

**OAuth2 Scope:** project.logs.read

+ Parameters

    + id (string) - ID of a log.
    
+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "duration": 5,
                "finished_at": null,
                "id": "1",
                "initial": false,
                "items": 20,
                "processed_items": 20,
                "started_at": "2016-06-01T15:52:45+00:00",
                "user_id": "1"
            }
            
### Get Export Logs [GET /projects/{id}/exportlogs/{?limit,offset,fields}]
Fetches all export logs for given project.

**OAuth2 Scope:** project.logs.read

+ Parameters

    + id (string) - ID of a project.
    
+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "duration": 5,
                        "finished_at": null,
                        "id": "1",
                        "initial": false,
                        "items": 20,
                        "processed_items": 20,
                        "started_at": "2016-06-01T15:52:45+00:00",
                        "user_id": "1"
                    },
                    {
                        "duration": 10,
                        "finished_at": "2016-06-01T15:54:44+00:00",
                        "id": "2",
                        "initial": false,
                        "items": 100,
                        "processed_items": 100,
                        "started_at": "2016-06-01T15:54:30+00:00",
                        "user_id": "1"
                    }
                ],
                "limit": 10,
                "offset": 0
            }
            
### Get an Access Log [GET /accesslogs/{id}/{?fields}]
Fetches an access log with the given ID. If the related project has been deleted, 410 is returned instead.

**OAuth2 Scope:** project.logs.read

+ Parameters

    + id (string) - ID of a log.
    
+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "https": false,
                "id": "101",
                "identity": "-",
                "ip": "111.222.333.444",
                "referer": "-",
                "request": "GET /mergadovenaradie-cz-heureka-cz-greagfsdabtrshthgreav.xml HTTP/1.1",
                "size": 627142,
                "status": 200,
                "time": "2016-05-15T08:18:13+00:00",
                "user": "-",
                "user_agent": "Heurekabot-Feed/1.0 (+http://sluzby.heureka.cz/napoveda/heurekabot/)"
            }
    
+ Response 410

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "message": "The associated project for this log has been deleted"
            }
            
### Get Access Logs [GET /projects/{id}/accesslogs/{?limit,offset,fields}]
Fetches all access logs for given project.

**OAuth2 Scope:** project.logs.read

+ Parameters

    + id (string) - ID of a project.
    
+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "https": false,
                        "id": "101",
                        "identity": "-",
                        "ip": "111.222.333.444",
                        "referer": "-",
                        "request": "GET /mergadovenaradie-cz-heureka-cz-greagfsdabtrshthgreav.xml HTTP/1.1",
                        "size": 627142,
                        "status": 200,
                        "time": "2016-05-15T08:18:13+00:00",
                        "user": "-",
                        "user_agent": "Heurekabot-Feed/1.0 (+http://sluzby.heureka.cz/napoveda/heurekabot/)"
                    },
                    {
                        "https": false,
                        "id": "127",
                        "identity": "-",
                        "ip": "555.666.777.888",
                        "referer": "-",
                        "request": "HEAD /naradiovemergado-cz-kurtmjyrasnaENBREANzgtsf.xml HTTP/1.1",
                        "size": 0,
                        "status": 200,
                        "time": "2016-05-15T08:24:38+00:00",
                        "user": "-",
                        "user_agent": "Mozilla/5.0 (Windows; U; Windows NT 5.1; cs; rv:1) Gecko/20101203 Firefox/3.6.13 ( .NET CLR 1)"
                    }
                ],
                "limit": 10,
                "offset": 0
            }


## Enabled Apps [/users/{id}/apps/]
Management of enabled apps by users.

+ Attributes

    + app_name (string) - Name (ID) of the enabled app.
    + free_until (string) - Trial expiration date.
    + paid_until (string) - Paid subscription expiration date.

### List User Apps [GET /users/{id}/apps/{?limit,offset,fields}]
Lists apps enabled by the given user.

**OAuth2 Scope:** user.apps.read

+ Parameters

    + id (string) - ID of a user.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "data": [
                    {
                        "app_name": "userappone",
                        "free_until": "2015-01-09",
                        "paid_until": "2016-01-08"
                    },
                    {
                        "app_name": "userapptwo",
                        "free_until": "2015-02-24",
                        "paid_until": "2015-03-23"
                    }
                ],
                "limit": 10,
                "offset": 0
            }

### Get User App [GET /users/{id}/apps/{name}/{?limit,offset,fields}]
Fetches an app enabled by the given user.

**OAuth2 Scope:** user.apps.read

+ Parameters

    + id (string) - ID of a user.
    + name (string) - Name of an app.

+ Response 200

    + Headers

            Content-Type: application/json

    + Body
    
            {
                "app_name": "userappone",
[...]
